{:licenses [{:name "MIT License" :url "https://opensource.org/license/mit"}]
 :lib me.flowthing/pp
 :description "pp is a fast, single-namespace, zero-dependency Clojure pretty-printer for data (not code)."
 :version "{{now/yyyy}}-{{now/mm}}-{{now/dd}}.{{git/commit-count}}"}
