name: Benchmark

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        java-version: ['21']

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}

      - uses: DeLaGuardo/setup-clojure@13.5.2
        with:
          cli: '1.12.4.1602'

      - uses: actions/cache@v5
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: deps-${{ hashFiles('deps.edn') }}
          restore-keys: deps-

      - run: clojure -X:dev:bench user/xr! '{:path "bench"}'
